body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
    margin-top: 30px;
}
#btnenviar{
    border-radius: 5px;
    background-color: gray;
    padding: 5px;
    margin-left: 15px;
}

#btremover{
    border-radius: 5px;
    background-color: gray;
    padding: 5px;
    margin-left: 15px;
}
.urgente{
    box-sizing: border-box;   
    flex: 0 0 40%;          
    border: 3px solid red;
    border-radius: 10px;
    padding: 10px;

    
}
.nurgente{
    box-sizing: border-box;
    flex: 0 0 40%;          
    border: 3px solid #28f100;
    border-radius: 10px;
    padding: 10px;
}
.container h2{
    font-size: 20px;
}
.container p{
    border: solid 3px rgb(219, 206, 206);
    border-radius: 10px ;
    
}

