body{
    font-family: Arial, Helvetica, sans-serif;
}
.notas{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
    margin-top: 30px;
}
#btn{
    border-radius: 5px;
    background-color: gray;
    padding: 5px;
    margin-left: 15px;
}

.notas_urgentes{
    box-sizing: border-box;   
    flex: 0 0 40%;          
    border: 3px solid red;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    
}
.notas_normais{
    box-sizing: border-box;
    flex: 0 0 40%;          
    border: 3px solid #28f100;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.notas h2{
    
    font-size: 20px;
}

#btnremove{
    border-radius: 5px;
    background-color: gray;
    padding: 5px;
    margin-left: 15px;
    margin-top: 30px;
}

.caixa-nota{
    background-color: rgb(199, 192, 188);
}